* {
  background-color: rgb(209 250 229);
  font-weight: 600;
  font-size: 20px;
}
.App {
  text-align: center;
}
.heading {
  color: blue;
  font-size: 40px;
}
.btn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid white;
  background-color: green;
  color: white;
}
.count {
  font-size: 20px;
  color: brown;
}
.countLabel {
  color: blueviolet;
}
